body{
    background-color: black;
    text-align: center;
    color: snow;
}
header img{
    margin-left: 1%;
    float:left;

}
h1{
    color: rgba(255, 234, 0, 0.813);
    font-family:Jazz LET, fantasy;
    font-weight: bold;
    font-size: 50px;
    margin-right: 9%;
    padding-top:1.5% ;
}
h2{
    text-transform: uppercase;
    color:rgba(255, 0, 0, 0.53);
    font-family: OCR A Std, monospace;
    padding-bottom: 2%;
    font-size: 35px;
}
#table{
    display: flex;
    justify-content: center;
    padding: 3%;
}
table {
    border-collapse: collapse;
    width: 90%;
    padding: 5%;
    
  }
  tr,td img{
    width: 100%;
    height: 100%;
  }
  
  th, td {
    border: 1px solid gold;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: gold;
    color: rgb(0, 0, 0);
  }
  
p {
    text-align: center;
    font-size: 15px;
    margin: 2%;
}